<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>All contacts</title>
</head>
<body>
	<h3> All Contacts </h3>
	<ul>
	<% $rolodex.contacts.each do |contact| %>
		<li class="contact"><a class="contactlink" href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a>
		</li>
	<% end %>
	</ul>

</body>
</html>