<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>All contacts</title>
</head>
<body>
	<h1> All Contacts </h1>
	<ul>
	<% $rolodex.contacts.each do |contact| %>
		<li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a>
		<p> <%= contact.to_s %> </p>
		</li>
	<% end %>
	</ul>

</body>
</html>