<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
	<title><%= @document_title %></title>
</head>
<body>
<header>
<h1> <%= @crm_page_name %></h1>
  <nav>
    <ul>
      <li><a href="/contacts"> View all contacts</a></li>
      <li><a href="/contacts/new_contact"> Add a contact</a></li>
      <li><a href=" ">Deleted a contact</a></li>
       <li><a href="/contacts/:id/edit">Modify a contact</a></li>
    </ul>
  </nav>
</header>
<div><%= yield %></div>
<footer><h1>Copyright Zachary Toth</h1></footer>
</body>
</html>