<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add A New Contact</title>
</head>
<body>
	<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <label name="first_name">First Name</label>
  <input type="text" name="first_name" placeholder="e.g. Zachary">
  <br>
  <label name="last_name">Last Name</label>
  <input type="text" name="last_name" placeholder="e.g. Toth">
  <br>
  <label name="email">Email Adress</label>
  <input type="text" name="email" placeholder= "e.g. zacharytoth@email.com">
  <br>
  <label name="note">Note</label>
  <input type="text" name="note" placeholder= "e.g. An awesome dude.">
  <br>
  <input type="submit" name="Submit">
  <br>
</form>
</body>
</html>