
<ul>
  <li><strong> First Name: </strong><%= @contact.first_name %></li>
  <li><strong> Last Name: </strong><%= @contact.last_name %></li>
  <li><strong> Email: </strong><%= @contact.email %></li>
  <li><strong> Note: </strong><%= @contact.note %></li>
</ul>