/** {
	outline: 1px solid grey;
}*/


/**{box-sizing: border-box;}
*/

body {
	background-color: #B28F8F;
}

div {
	border-radius: 15px;
	background-color: white;
	box-shadow: #565050;
	margin: 0 auto;
	width: 35em;
	height: 25em;
	clear: both;
	text-align: center;
}

.contact {
	list-style: none;
}

.contactlink {
	text-decoration: none;

}

a:hover {
	font-effect: 
}

header {
top: 0;
padding: 0;
height: 3em;
width: 100%;
text-align: center;
z-index: 1;
}

header h1 {
	font-size: 1em;
	font-family: Impact;
	font-color: white;
	padding: 0;
	margin: 0;
}

nav {
margin: 0;
padding: 0;

}

nav ul li {
	display: inline;
}


footer {

bottom: 0;
padding: 0;
height: 3em;
width: 100%;
text-align: center;
}

footer h1 {
	font-size: 5px;
	font-color: white;
	padding: 0;
	margin: 0;
}